.conteiner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100vh;
}
.image-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.form-Register{
     display: flex;
     align-items: center;
     justify-content: center;
     
 }

 .input-Register{
     border:1px solid #0B5774;
     border-radius: 4px;
     margin: 10px;
     width: 250px;
     height: 25px;
     color: black;
     padding: 5px;

 }
 .input-Register:focus{
     border: 2px solid blue;
 }
.gender-Register{
    margin-top:10px;
    margin-left: 8px;

}
 .button-Register{
    margin-left: 15px;
    margin-top: 10px;
     color: white;
     border: 1px solid #0B5774 ;
     border-radius: 10px;
     background-color: #0B5774;
     width: 90px;
     height: 30px;
     
 }

 .button-Register a {
     color: white;
 }

 .button-Register:hover{
     background-color: #6CBCDB;
 }
 .back{
    position: relative;
    top:102px;
   right: 480px;
 }